* {
  font-family: monospace;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 0);
}
:root {
  --heigth: 220px;
  --color: red;
}

.heart {
  height: var(--heigth);
  width: var(--heigth);
  background-color: var(--color);
  transform: rotate(45deg);
  box-shadow: -20px -20px 150px var(--color);
  animation: latir 0.5s infinite linear alternate;
}
.content-heart {
  position: fixed;
  height: 180px;
  width: 200px;
  justify-content: center;
  text-align: center;
  top: 32%;
}
#h1 {
  color: rgb(238, 137, 152);
  overflow: hidden;
}
.heart::before {
  content: "";
  height: var(--heigth);
  width: var(--heigth);
  background-color: var(--color);
  position: absolute;
  right: 50%;
  border-radius: 50%;
  box-shadow: 20px 20px 150px var(--color);
}
.heart::after {
  content: "";
  height: var(--heigth);
  width: var(--heigth);
  background-color: var(--color);
  position: absolute;
  top: -50%;
  border-radius: 50%;
  box-shadow: 20px 20px 150px var(--color);
}

@keyframes latir {
  0% {
    transform: rotate(45deg) scale(1.1);
  }
  80% {
    transform: rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(45deg) scale(0.8);
  }
}
